html, body{
	font-family: "Lato";
	font-size: 14px;
}
.app-section{
	min-height: 500px;
	background: #ED4C5C;
	color: #FFFFFF;
	display: flex;
	flex-direction: row;
}
.app-section-wrapper{
	display: flex;
	flex-direction: column;
	width: 40%;
	justify-content: center;
	padding-left: 165px;
}
.information{
	display: flex;
	flex-direction: column;
}
.stay-focused{
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 43px;
}
.discription{
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 140%;
	text-align: justify;
	margin: 48px 0px 0px 0px;
	
}
.image-container{
	width: 60%;
	position: relative;
}
.apps-icon{
	margin: 42px 25px 0px 0px;
	cursor: pointer;
}
.background-img1{
	position: absolute;
    left: 27px;
    top: 116px;
    z-index: 0;
	width: 383px;
	height: 267px;
}
.background-img2{
	position: absolute;
    left: 176px;
    top: 116px;
    z-index: 0;
	width: 383px;
	height: 267px;
}
.front-img{
	position: absolute;
	width: 445px;
	height: 311px;
	left: 71px;
	top: 94px;
	z-index: 1;
}
.contact-section{
	min-height: 500px;
	background: #FFFFFF;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 116px;
	padding-left: 45px;
}

.contact-section-left{
	color: #000000;
	width: 434px;
}
.contact{
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 43px;
}
.contact-discription{
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 140%;
	text-align: justify;
	margin: 60px 0px 0px 0px;
}
.form{
	width: 540px;
	height: 305px;
	display: flex;
	flex-direction: column;
	margin-left: 90px;
}
.text-input{
	padding: 20px 26px 20px 30px;
	border-radius: 6px;
	border: 1px solid #333333;
	box-sizing: border-box;	
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: rgba(19, 39, 67, 0.5);
	width: 47.5%;

}
.name-input{
	display: flex;
	flex-direction: row;
}

.last-name{
	margin-left: auto;
}
.other-data-inputs{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}
.phone{
	width: 100%;
    padding: 20px 30px;
    border-radius: 6px;
    border: 1px solid #333333;
    box-sizing: border-box;
	margin: 24px 0px 0px 0px;
    font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: rgba(19, 39, 67, 0.5);
}
.select{
	width: 100%;
    padding: 20px 30px;
    border-radius: 6px;
    border: 1px solid #333333;
    box-sizing: border-box;
    color: rgba(19, 39, 67, 0.5);
    font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: rgba(19, 39, 67, 0.5);
}
.submit{
	background: #ED4C5C;
	border: 1.5px solid #ED4C5C;
	box-sizing: border-box;
	border-radius: 6px;
	width: 160px;
	height: 50px;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	color: #FFFFFF;
	cursor: pointer;
}
footer{
	display: flex;
	flex-direction: column;
	min-height: 435px;
	background: #FAFAFA;
	padding-left: 80px;
}
.footer-wrapper{
	display: flex;
	flex-direction: row;
	background: #FAFAFA;
	justify-content: space-around;
	padding-top: 85px;
	align-items: flex-start;
}
.address{
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #101010;
}
.address-discription{
	width: 254px;
	height: 54px;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 150%;
	color: #101010;
}
.services{
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #101010;
}
.services-menu{
	width: 254px;
	height: 114px;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 160%;
	text-transform: capitalize;
	color: #000000; 
}
.services-menu p{
	cursor: pointer;
}
.get-in-touch{
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #101010;
}
.get-in-information{
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	color: #101010;
}
.get-in-information p{
	cursor: pointer;
}
.phone-number{
	margin: 11px 0px 0px 0px;
}
.footer-images{
	margin: 22px 16px 0px 0px;
	cursor: pointer;
}
.support{
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #101010;
}
.card-list{
	width: 216px;
	height: 31px;
	cursor: pointer;
}
.gap{
	margin-top: 33px;
}
.copyright{
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	color: #101010;
	margin-left: 40px;
    margin-top: 100px;
}