html, body{
	font-family: "Lato";
	font-size: 14px;
}
.app-section{
	width: 100%;
	height: 500px;
	background: #ED4C5C;
	color: #FFFFFF;
	position: relative;
}
.information{
	width: 445px;
	left: 165px;
	top: 122px;
	position: absolute;
}
.stay-focused{
	font-style: normal;
	font-weight: 600;
	font-size: 2.58rem;
	line-height: 43px;
}
.discription{
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 140%;
	/* or 20px */
	text-align: justify;
	margin: 48px 0px 0px 0px;
}
.apps-icon{
	margin: 42px 25px 0px 0px;
	cursor: pointer;
}
.background-img1{
	position: absolute;
    left: 691px;
    top: 116px;
    z-index: 0;
    width: 383px;
	height: 267px;
}
.background-img2{
	position: absolute;
    left: 841px;
    top: 116px;
    z-index: 0;
    width: 383px;
	height: 267px;
}
.front-img{
	position: absolute;
	width: 445px;
	height: 311px;
	left: 735px;
	top: 94px;
	z-index: 1;
}